<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title>OI JOSUKE!</title>
  </head>
  <body>
    <h1>OI JOSUKE!</h1>
    <img src="images/Okuyasu_Nijimura.jpg" alt="Okuyasu">
    <p>I used The Hand to erase this webpage, and now it gives people errors! Ain't that wacky!?</p>
    <p>Error 404: Page not found, Check the URL to make sure nothing is spelled incorrectly.</p>
  </body>
</html>
