<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <p id="link" style="font-size: 30px;"><a href="http://localhost:3000/About">About</a></p>
     <p id="link" style="font-size: 30px;"><a href="http://localhost:3000/feedback">Feedback</a></p>
    <h1 style="text-align:center;">Worse Company</h1>
<p>Welcome to the Worse Company website. We are a fun group of indiviuals who  met in the corner of a programming class!</p>
<p>It is a pleasure to meet you all, please click the link below to view our about page and learn about us!</p>
  </body>
</html>
