<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
        <hr class="new2">
    <div class="center">
      <div class="Links">
        <p id="link" style="font-size: 20px;"><a href="http://localhost:3000/About">About</a></p>
        <p id="link" style="font-size: 20px;"><a href="http://localhost:3000/Feedback">Feedback</a></p>
        <h1 style= "font-size: 43px; text-decoration: underline; " >Worse Company</h1>
      </div>
      <p style= "font-style: italic;"> We maybe Worse Company, but we're not the worst company </p>
      <hr class="new1">
      <p>Welcome to the Worse Company website. We are a fun group of individuals who  met in the corner of a programming class!</p>
      <p>It is a pleasure to meet you all, please click the link above to view our about page and learn about us!</p>
      <p>If you have any questions or concerns, even a compliment will do, head to the Feedback section.</p>
    </div>
    <div class="copyright">
      <p>ⒸWorse Company 2021</p>
    </div>
  </body>
</html>
