body {
  background-color: #e4f2ed
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #406869;
  width: 15%;
}
h1 {
  text-align: center;
  color: black;
  font-family: verdana;
  font-size: 200%;
}
p {
  text-align: center;
  color: black;
  font-family: verdana;
  font-size: 150%;
}
